<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="/" class="navbar-brand">EJS</a>
        <ul class="navbar-nav md-auto">
            <li class="nav-item">
                <a href="/" class="nav-link">HOME</a>
            </li>
            <li class="nav-item">
                <a href="/about" class="nav-link">About</a>
            </li>
        </ul>
    </nav>
    <p>Página: <%= typeof pagina != 'undefined' ? pagina: 'Home' %></p>
</header>